.idea
.gradle
.asciidoctor
.DS_Store
/docker/jenkins/data/bootstrap/*
!/docker/jenkins/data/bootstrap/.gitkeep
/docker/jenkins/docker-compose.yml
/docker/jenkins/jenkins_master/Dockerfile
terraform.tfstate*
digitalocean.token
/ansible/*.retry
/build
/out
.terraform
*.iml
