.idea
.gradle
.asciidoctor
.DS_Store
/docker/jenkins/data/
/docker/jenkins/docker-compose.yml
/docker/jenkins/master/Dockerfile
terraform.tfstate*
account.json
/ansible/*.retry
/build
/out
/bin
.terraform
.settings
.classpath
.project
.history
.vscode
